version: 2
updates:
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "monthly"
    versioning-strategy: "increase"
    ignore:
      - dependency-name: "python"
    commit-message:
      prefix: "deps"
    groups:
      deps:
        patterns:
          - "*"
