services:
  api:
    image: ghcr.io/aturret/fastfetchbot-api:latest
    # build:
    #   context: .
    #   dockerfile: apps/api/Dockerfile
    container_name: fastfetchbot-api
    # restart: always
    volumes:
      - ./conf:/app/conf
      - video_file:/tmp
    env_file:
      - .env
    ports:
      - 10450:10450
    depends_on:
      - telegram-bot-api

  telegram-bot:
    image: ghcr.io/aturret/fastfetchbot-telegram-bot:latest
    # build:
    #   context: .
    #   dockerfile: apps/telegram-bot/Dockerfile
    container_name: fastfetchbot-telegram-bot
    # restart: always
    env_file:
      - .env
    environment:
      - API_SERVER_URL=http://api:10450
    ports:
      - 10451:10451
    depends_on:
      - api
      - telegram-bot-api

  telegram-bot-api:
    image: aiogram/telegram-bot-api:latest
    container_name: telegrambotapi
    restart: always
    volumes:
      - telegram-bot-api-data-cache:/var/lib/telegram-bot-api
    ports:
      - 8081:8081
      - 8082:8082
    environment:
      - TELEGRAM_API_ID=
      - TELEGRAM_API_HASH=
      - TELEGRAM_LOCAL=TRUE
      - TELEGRAM_LOG_FILE=tglog.log
      - TELEGRAM_STAT=1
      - TELEBOT_API_SERVER_PORT=8081

  fast-yt-downloader:
    image: aturret/fast-yt-downloader:latest
    container_name: fastytd
    restart: always
    environment:
      - PORT=4000
    volumes:
      - video_file:${DOWNLOAD_DIR}
    ports:
      - 4000:4000
    depends_on:
      - api


volumes:
  telegram-bot-api-data-cache:
  video_file:
