services:
  api:
    image: ghcr.io/aturret/fastfetchbot-api:latest
    # build:
    #   context: .
    #   dockerfile: apps/api/Dockerfile
    container_name: fastfetchbot-api
    # restart: always
    volumes:
      - ./conf:/app/conf
      - shared_files:/tmp
    env_file:
      - .env
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/1
    ports:
      - 10450:10450
    depends_on:
      - telegram-bot-api
      - redis

  telegram-bot:
    image: ghcr.io/aturret/fastfetchbot-telegram-bot:latest
    # build:
    #   context: .
    #   dockerfile: apps/telegram-bot/Dockerfile
    container_name: fastfetchbot-telegram-bot
    # restart: always
    env_file:
      - .env
    environment:
      - API_SERVER_URL=http://api:10450
    ports:
      - 10451:10451
    depends_on:
      - api
      - telegram-bot-api

  telegram-bot-api:
    image: aiogram/telegram-bot-api:latest
    container_name: telegrambotapi
    restart: always
    volumes:
      - telegram-bot-api-data-cache:/var/lib/telegram-bot-api
    ports:
      - 8081:8081
      - 8082:8082
    environment:
      - TELEGRAM_API_ID=
      - TELEGRAM_API_HASH=
      - TELEGRAM_LOCAL=TRUE
      - TELEGRAM_LOG_FILE=tglog.log
      - TELEGRAM_STAT=1
      - TELEBOT_API_SERVER_PORT=8081

  redis:
    image: redis:7-alpine
    container_name: fastfetchbot-redis
    restart: always
    volumes:
      - redis_data:/data
    ports:
      - 6379:6379

  worker:
    image: ghcr.io/aturret/fastfetchbot-worker:latest
    # build:
    #   context: .
    #   dockerfile: apps/worker/Dockerfile
    container_name: fastfetchbot-worker
    restart: always
    env_file:
      - .env
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/1
      - CONF_DIR=/app/conf
    volumes:
      - ./conf:/app/conf
      - shared_files:/tmp
    depends_on:
      - redis


volumes:
  telegram-bot-api-data-cache:
  redis_data:
  shared_files:
