[tool.poetry]
name = "fastfetchbot"
version = "0.1.0"
description = ""
authors = ["Jichen Jiang <enturreopy@gmail.com>", "Zhen Zhong <auroradysis@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
fastapi = "^0.99.0"
sentry-sdk = { extras = ["fastapi"], version = "^1.26.0" }
beautifulsoup4 = "^4.12.2"
lxml = "^4.9.3"
httpx = "*"
gunicorn = "^20.1.0"
python-telegram-bot = { extras = ["callback-data", "rate-limiter"], version = "^20.4" }
fake-useragent = "^1.1.3"
jmespath = "^1.0.1"
playwright = "^1.35.0"
jinja2 = "^3.1.2"
requests-toolbelt = "^1.0.0"
babel = "^2.12.1"
openai = "^0.27.8"
uvicorn = "^0.22.0"
aiofiles = "^23.2.1"
twitter-api-client = "^0.10.11"
pillow = "^10.0.0"
python-magic = "^0.4.27"
python-magic-bin = { version = "^0.4.14", optional = true }
pydub = "^0.25.1"
xhtml2pdf = "^0.2.11"
weasyprint = "^59.0"
aioboto3 = "^11.3.0"
beanie = "^1.21.0"


[tool.poetry.group.dev.dependencies]
black = "^23.3.0"

[tool.poetry.extras]
windows = ["python-magic-bin"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
