<h2><a href="{{ data.url }}">{{ data.title }}</a></h2>

<p>From <a href="{{ data.subreddit_url }}">{{ data.subreddit }}</a><a href="{{ data.author_url }}">{{ author }}</a> created at {{ data.created }}</p>

<p>Comments: {{ data.comments_count }} Score: {{ data.score }} Upvote ratio: {{ data.upvote_ratio }}</p>

{{ data.content }}