<a href="{{ data.url }}"><b>{{ data.title }}</b></a>
作者：<a href="{{ data.author_url }}">{{ data.author }}</a>
视频时长：{{ data.duration }}
视频上传日期：{{ data.created }}
播放数据：{{ data.playback_data }}
视频简介：{{ data.description }}
