{# templates/zhihu_short_text.html #}

{% if data.zhihu_type == "answer" %}
<h2><a href="https://www.zhihu.com/question/{{ data.question_id }}" target="_blank">{{ data.title }}</a></h2>
{% if data.question is not none %}
<p>{{ data.question }}</p>
<p>发表于：{{ data.question_date }} 更新于：{{ data.question_updated }}<br>回答数：{{ data.question_answer_count }} 关注数：{{ data.question_follower_count }}</p>
<hr>
{% endif %}
<p>回答作者：<a href="{{ data.author_url }}">{{ data.author }}</a></p>
<p>发表于：{{ data.date }} 更新于：{{ data.updated }}
<br>
点赞数：{{ self.upvote }}
{% if data.comment_count %}
<br>
评论数：{{ self.comment_count }}
{% endif %}
</p>
{{ data.raw_content }}
{% elif data.zhihu_type == "article" %}
{% if data.column %}
<p>所属专栏：<a href="{{ data.column_url }}">{{ data.column }}</a></p>
<p>专栏简介：{{ data.column_intro }}</p>
{% endif %}
<p>作者：<a href="{{ data.author_url }}">{{ data.author }}</a></p>
<p>发表于：{{ data.date }}
{% if data.updated != data.date %}
更新于：{{ data.updated }}
{% endif %}</p>
更新于：{{ data.updated }}
<br>
<p>{% if data.upvote %}点赞数：{{ data.upvote }}{% endif %}{% if data.comment_count %}评论数：{{ data.comment_count }}{% endif %}</p>
<br>
{{ data.raw_content }}
{% elif data.zhihu_type == "status" %}
<p>发表于{{ data.date }} 点赞数：{{ data.upvote }} 评论数：{{ data.comment_count }}</p>
<p><a href="{{ data.author_url }}">@{{ data.author }}</a>：{{ data.raw_content }}</p>
{{ data.pic_content }}
{% if data.origin_pin_author %}
<hr>
<p>发表于{{ data.origin_pin_date }} 点赞数：{{ data.origin_pin_upvote }} 评论数：{{ data.origin_pin_comment_count }}</p>
<p><a href="{{ data.origin_pin_author_url }}">@{{ data.origin_pin_author }}</a>：{{ data.origin_pin_content }}</p>
{{ data.origin_pin_pic_content }}
{% endif %}
{% endif %}
{#<hr>#}
{#<a href="{{ data.url }}">阅读原文</a>#}