<a href="{{ data.url }}"><b>{{ data.title }}</b></a>
From <a href="{{ data.subreddit_url }}">{{ data.subreddit_name_prefixed }}</a> - <a href="{{ data.author_url }}">{{ data.author }}</a>
{{ data.text }}