{# templates/social_media_message.html #}

{% if data.type == "short" %}
{{ data.text }}
#{{ data.category }}
{% else %}
    {# title #}
    {% if data.category in ['YouTube', 'Bilibili'] %}
        <a href="{{ data.url }}">
            <b>{{ data.title }}</b>
        </a>
    {% else %}<a href="{{ data.telegraph_url }}"><b>{{ data.title }}</b></a>{% endif %}
    via #{{ data.category }} - <a href="{{ data.author_url }}">{{ data.author }}</a>
    {# the message, which is from inoreader comment or telegram bot comment function (todo) #}
    {% if data.message %}{{ data.message }}{% endif %}
    {% if data.type == "long" %}<a href="{{ data.url }}">阅读原文</a>{% endif %}
{% endif %}

{# the original page function only supports long type item #}