{# templates/social_media_message.html #}

{% if data.message_type == "short" %}
{#   {% if data.title %}#}
{#<b>{{ data.title }}</b>#}
{#   {% endif %}#}
{{ data.text }}
    {% if data.category in ['youtube', 'bilibili'] %}
    {% endif %}

#{{ data.category }}
{% if data.telegraph_url %}
<a href="{{ data.telegraph_url }}">{{ template_text.online_snapshot }}</a>
{% endif %}
{% else %}
    {# title #}
    {% if data.category in ['youtube', 'bilibili'] %}
        <a href="{{ data.url }}">
            <b>{{ data.title }}</b>
        </a>
    {% else %}<a href="{{ data.telegraph_url }}"><b>{{ data.title }}</b></a>{% endif %}

via #{{ data.category }} - <a href="{{ data.author_url }}">{{ data.author }}</a>
    {# the message, which is from inoreader comment or telegram bot comment function (todo) #}
    {% if data.message %}{{ data.message }}
    {% endif %}
    {% if data.message_type == "long" %}<a href="{{ data.url }}">{{ template_text.original_webpage }}</a>{% endif %}
{% endif %}

{# the original page function only supports long type item #}