<h2>{{ data.title }}</h2>
<p>作者：<a href="{{ author_url }}">{{ data.author }}</a>></p>
<p>发布于 {{ data.created }} 最近更新于 {{ data.updated }}</p>
<p>收藏：{{ data.collected_count }} 转发：{{ data.share_count }} 评论：{{ data.comments_count }} 点赞：{{ data.like_count }}
{% if data.ip_location %}
来自{{ data.ip_location }}
{% endif %}
</p>
<p><a href="{{ data.author_url }}">@{{ data.author }}</a>：</p>
{{ data.raw_content }}